# Node
node_modules/
dist/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
backend.log

# Test files temporaires
test-*.js
test-*.sh

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
Thumbs.db

TODO.md
